@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
<<<<<<< HEAD
    --white-color: white;
    --blue-color: #0084B6;
    --smoke-color: #F4F4F4;
    --dark-color: #1D1D1B;
    --yellow-color: #FDDA25;
    --headline-size: 32px;
    --subheadline-size: 24px;
    --subheadline-size-s: 18px;
    --body-size: 16px;
    --button-padding: 8px 16px;
    --button-border-radius: 35px;
    --input-border-radius: 8px;
    /* Bold */
    --headline-font: 'Montserrat';
    --headline-weight: '700';
    /* Semibold */
    --subheadline-font: 'Lato';
    --subheadline-weight: '550';
    /* Regular */
    --body-font: 'Open Sans';
    --body-weight: '400';
=======
  --white-color: white;
  --blue-color: #0084b6;
  --smoke-color: #f4f4f4;
  --dark-color: #1d1d1b;
  --yellow-color: #fdda25;
  --headline-size: 32px;
  --subheadline-size: 24px;
  --body-size: 16px;
  --button-padding: 8px 16px;
  --button-border-radius: 35px;
  --input-border-radius: 8px;
  --headline-font: "Montserrat";
  /* Bold */
  --headline-weight: "700";
  --subheadline-font: "Lato";
  /* Semibold */
  --subheadline-weight: "550";
  --body-font: "Open Sans";
  /* Regular */
  --body-weight: "400";
>>>>>>> f09a5b6614444e1eada1f9d7b17e73c6e96b7df7
}

body {
  background-color: var(--smoke-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#container {
<<<<<<< HEAD
    margin-left: 4%;
    margin-right: 4%;
=======
  margin-left: 4%;
  margin-right: 4%;
  height: 1000px;
>>>>>>> f09a5b6614444e1eada1f9d7b17e73c6e96b7df7
}

nav {
  background-color: var(--white-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#nav-left {
  width: 100%;
  margin-left: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 250px;
  height: 100px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: left;
}

#menu {
  width: 100%;
  height: 100px;
  display: grid;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 600;
}

#nav-right {
  width: 100%;
  margin-right: 4%;
  display: flex;
  justify-content: flex-end;
}

#register-btn {
  border: 1px solid;
  background-color: var(--white-color);
  color: var(--black-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 600;
}

#login-btn {
  border: 1px solid var(--blue-color);
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 600;
}

#language-selector {
  border: 1px solid;
  background-color: var(--white-color);
  color: var(--black-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 600;
}

#language-selector,
#register-btn,
#login-btn {
  margin-left: 10px;
  cursor: pointer;
}

#welcoming-content {
  width: 100%;
  height: 495px;
  background-image: url("../images/welcome-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcoming-content #content {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

#welcoming-content #content h1 {
  font-size: 64px;
  font-family: var(--headline-font);
  font-weight: 700;
  margin-bottom: 35px;
}

#welcoming-content #content p {
  font-size: var(--subheadline-size);
  font-family: var(--subheadline-font);
  font-weight: 550;
  margin-bottom: 71px;
}

#welcoming-content #content #search {
<<<<<<< HEAD
    border: none;
    outline: none;
    border-radius: var(--input-border-radius);
    font-family: var(--subheadline-font);
    font-size: 18px;
    background-image: url('../images/search-icon.svg');
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 10px;
    width: 65%;
    padding: 18px;
    padding-left: 6%;
=======
  border: none;
  border-radius: var(--input-border-radius);
  font-family: var(--subheadline-font);
  font-size: 18px;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: 10px;
  width: 65%;
  padding: 18px;
  padding-left: 6%;
>>>>>>> f09a5b6614444e1eada1f9d7b17e73c6e96b7df7
}

@media only screen and (max-width: 500px) {
  #welcoming-content #content h1 {
    font-size: 58px;
  }

  #welcoming-content #content p {
    margin-bottom: 31px;
  }

  #welcoming-content #content #search {
    background-size: 8%;
    padding-left: 10%;
  }
}

@media only screen and (max-width: 360px) {
  #welcoming-content #content h1 {
    font-size: 48px;
  }

  #welcoming-content #content p {
    font-size: 20px;
    margin-bottom: 41px;
  }

  #welcoming-content #content #search {
    padding: 10px;
    padding-left: 10%;
  }
}

main {
  margin-left: 4%;
  margin-right: 4%;
}

#simulation-content {
  display: flex;
  border: 2px solid;
  justify-content: center;
  align-items: center;
  height: 206px;
  background: rgb(0, 155, 244, 25%);
  border-radius: var(--input-border-radius);
  color: var(--blue-color);
  margin-top: 53px;
  padding: 20px;
}

#simulation-content #content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#simulation-content #content #content-image {
  width: 60px;
  height: 80px;
  background-image: url("../images/simu-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 2%;
}

#simulation-content #content #content-details {
  width: 80%;
}

#simulation-content #content #content-details h2 {
  font-size: var(--headline-size);
  font-family: var(--headline-font);
  font-weight: 600;
  margin: 0;
}

#simulation-content #content #content-details p {
  font-size: 18px;
  font-family: var(--subheadline-font);
  font-weight: 500;
  color: var(--dark-color);
}

#simulation-content #content #content-details #simulation-btn {
  border: none;
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 1322px) {
  #simulation-content {
    height: 280px;
  }
}

@media only screen and (max-width: 818px) {
  #simulation-content {
    height: 320px;
  }

  #simulation-content #content #content-image {
    width: 80px;
    height: 110px;
  }
}

@media only screen and (max-width: 700px) {
  #simulation-content {
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  #simulation-content {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  #simulation-content #content {
    flex-direction: column;
    align-items: center;
  }

  #simulation-content #content #content-image {
    margin-bottom: 10px;
  }

  #simulation-content #content #content-details {
    text-align: center;
  }

  #simulation-content #content #content-details #simulation-btn {
    margin-top: 10px;
  }
}

#themes-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#themes-section h1 {
  font-size: var(--headline-size);
  font-family: var(--headline-font);
  font-weight: 700;
  color: var(--dark-color);
}

.theme-categorie-h2 {
  font-size: var(--subheadline-size);
  font-family: var(--subheadline-font);
  font-weight: var(--subheadline-weight);
  color: var(--blue-color);
  margin: 0;
}

.theme-categorie-h2::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-right: 0.5%;
}

#sta::before {
  background-image: url("../images/Stay.svg");
}

#edu::before {
  background-image: url("../images/Edu.svg");
}

#mon::before {
  background-image: url("../images/Euro.svg");
  width: 17px;
  height: 30px;
}

.all-themes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 45px;
  gap: 50px;
}

.theme-content {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 0 auto;
    max-width: 228px;
    width: 100%;
    height: 228px;
    background-color: var(--white-color);
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-top: 0;
    cursor: pointer;
=======
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 0 auto;
  max-width: 228px;
  width: 100%;
  height: 228px;
  background-color: var(--white-color);
  border-radius: 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-top: 0;
>>>>>>> f09a5b6614444e1eada1f9d7b17e73c6e96b7df7
}

@media only screen and (max-width: 600px) {
  #themes-section h1 {
    margin-left: 25%;
  }

  .theme-categorie-h2 {
    margin-left: 25%;
  }

  .all-themes {
    justify-content: center;
  }
}

footer {
  background-color: var(--dark-color);
  color: var(--white-color);
}

footer h2 {
  font-size: var(--subheadline-size);
  font-family: var(--subheadline-font);
  font-weight: 700;
  color: var(--white-color);
}

footer p {
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--white-color);
}

#footer-content {
<<<<<<< HEAD
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
=======
  border: 1px solid;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
>>>>>>> f09a5b6614444e1eada1f9d7b17e73c6e96b7df7
}

#about-us {
  width: 21%;
}

#themes ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

#themes a {
  color: var(--white-color);
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 400;
}

#contact-us {
  width: 15%;
}

#contact-us p:first-of-type::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 30px;
  background-image: url("../images/tele.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-right: 2%;
}

#contact-us p:last-of-type::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 30px;
  background-image: url("../images/mail.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-right: 2%;
}

#newsletter {
  width: 21%;
}

#email {
  border: none;
  font-family: var(--subheadline-font);
  font-size: var(--body-size);
  background: #282827;
  color: var(--white-color);
  width: 100%;
  padding: 10px;
  padding-left: 5%;
  border-radius: 35px 0 0 35px;
}

#newsletter-form {
  display: flex;
  flex-direction: row;
  background: #282827;
  border-radius: var(--button-border-radius);
  padding: 1px;
}

#newsletter-form input {
  flex-grow: 2;
  border: none;
  outline: none;
}

#newsletter-form button {
  color: var(--dark-color);
  border: 1px solid var(--yellow-color);
  background: var(--yellow-color);
  border-radius: var(--button-border-radius);
  font-size: var(--body-size);
  width: 100px;
}

#about-us,
#themes,
#contact-us,
#newsletter {
  width: 100%;
  max-width: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
}

<<<<<<< HEAD
@media only screen and (max-width:1304px) {
    #footer-content {
        justify-content: space-around;
    }

    #newsletter {
        margin-bottom: 40px;
    }
=======
@media only screen and (max-width: 1304px) {
  #footer-content {
    justify-content: space-around;
  }
  #newsletter {
    margin-bottom: 40px;
  }
>>>>>>> f09a5b6614444e1eada1f9d7b17e73c6e96b7df7
}

#copyright {
<<<<<<< HEAD
    text-align: center;
    padding: 20px;
}

.theme-info {
    width: 834px;
    margin-top: 53px;
}

@media only screen and (max-width:840px) {
    .theme-info {
        width: 90%;
        margin: auto;
    }
}

.theme-info h1 {
    font-size: var(--headline-size);
    font-family: var(--headline-font);
    font-weight: 700;
}

.theme-info p {
    font-size: var(--subheadline-size-s);
    font-family: var(--subheadline-font);
    font-weight: var(--subheadline-weight);
}

.step-plan {
    margin-top: 53px;
    width: 100%;
}

.step-plan h1 {
    font-size: var(--headline-size);
    font-family: var(--headline-font);
    font-weight: 700;
    color: var(--blue-color);
    text-align: center;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.steps-left {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-right: 2px solid var(--blue-color);
}


.steps-left h2 {
    font-size: var(--subheadline-size);
    font-family: var(--subheadline-font);
    font-weight: var(--subheadline-weight);
}

.steps-left p {
    font-size: var(--subheadline-size-s);
    font-family: var(--subheadline-font);
    font-weight: 400;
    margin-top: 0px;
    width: 95%;
}

.steps-left button {
    border: 1px solid var(--blue-color);
    background-color: var(--smoke-color);
    color: var(--blue-color);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    font-size: var(--body-size);
    font-family: var(--body-font);
    font-weight: 600;
    margin-top: 10px;

}

.step-image {
    width: 95%;
    height: 179px;
    border-radius: var(--input-border-radius);
    margin-bottom: 20px;
}

.step-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--input-border-radius);
}

.steps-right {
    width: 50%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.step-tw {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.step-th {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

@media only screen and (max-width:820px) {
    .steps {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .steps-left {
        width: 85%;
        border: none;
        border-bottom: 2px solid var(--blue-color);
    }

    .steps-right {
        width: 92%;
        height: 420px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.steps-info button {
    border: 1px solid var(--blue-color);
    background-color: var(--smoke-color);
    color: var(--blue-color);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    font-size: var(--body-size);
    font-family: var(--body-font);
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
}

.steps-info p {
    font-size: var(--subheadline-size-s);
    font-family: var(--subheadline-font);
    font-weight: 400;
    margin-left: 20px;
}

.steps-image {
    width: 111px;
    height: 111px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.steps-image img {
    object-fit: cover;
    border-radius: var(--input-border-radius);
}

#contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 53px;
    margin-bottom: 53px;
}

#contact-section #contact-details {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


#contact-section #contact-details h2 {
    font-size: var(--subheadline-size);
    font-family: var(--subheadline-font);
    font-weight: var(--subheadline-weight);
}

#contact-section #contact-details p {
    font-size: var(--subheadline-size-s);
    font-family: var(--subheadline-font);
    font-weight: 400;
}

#contact-section #contact-form {
    width: 50%;
    height: 271px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-left: 2px solid var(--blue-color);
}

@media only screen and (max-width:768px) {
    #contact-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }

    #contact-section #contact-details {
        width: 85%;
        margin-bottom: 20px;
        border-bottom: 2px solid var(--blue-color);
    }

    #contact-section #contact-form {
        width: 85%;
        height: 271px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
    }
}

#contact-section #contact-form #ctct-form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#contact-section #contact-form #ctct-form input[type="text"] {
    width: 100%;
    height: 51px;
    border: 1px solid var(--dark-color);
    background: none;
    outline: none;
    padding-left: 3%;
    border-radius: var(--input-border-radius);
    margin-bottom: 10px;
    font-family: var(--body-font);
    font-size: var(--body-size);
}

#contact-section #contact-form #ctct-form textarea {
    width: 100%;
    height: 105px;
    border: 1px solid var(--dark-color);
    background: none;
    outline: none;
    padding-top: 10px;
    padding-left: 3%;
    border-radius: var(--input-border-radius);
    margin-bottom: 10px;
    font-family: var(--body-font);
    font-size: var(--body-size);
    resize: none;
}

#contact-section #contact-form #ctct-form label {
    margin-bottom: 5px;
}

#contact-section #contact-form #ctct-form button {
    border: 1px solid var(--blue-color);
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    font-size: var(--body-size);
    font-family: var(--body-font);
    font-weight: 600;
    cursor: pointer;
}
=======
  text-align: center;
  padding: 20px;
}

.content-register {
  margin: 60px auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 450px;
}

#content-login {
  margin: 100px auto;
}

.content-register-form {
  width: 100%;
}

.register-form-label-user-wrapped {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.register-form-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-form-label input {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
  padding: 15px 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  background-position: right 10px top 15px;
  background-repeat: no-repeat;
}

.register-form-label #e-mail {
  background-image: url("../images/envelop.svg");
}

.register-form-label #password {
  background-image: url("../images/eye.svg");
}

.register-form-label-user-wrapped input {
  background-image: url("../images/profile.svg");
}

.content-register-form button {
  width: 100%;
  padding: 15px 10px;
  margin: 10px 0px;
  background-color: var(--blue-color);
  color: var(--white-color);
  border: none;
  border-radius: 6px;
  font-size: var(--body-size);
  cursor: pointer;
}

.content-register-form #signup-google {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
}

.content-register h2 {
  font-family: var(--headline-font);
}

.hr-text {
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  &:before {
    content: "";
    background: black;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 1em;
    line-height: 1.5em;
    color: black;
    background-color: var(--smoke-color);
  }
}
>>>>>>> f09a5b6614444e1eada1f9d7b17e73c6e96b7df7
