:root {
  --white-color: white;
  --blue-color: #0084b6;
  --smoke-color: #f4f4f4;
  --dark-color: #1d1d1b;
  --yellow-color: #fdda25;
  --headline-size: 32px;
  --subheadline-size: 24px;
  --body-size: 16px;
  --button-padding: 8px 16px;
  --button-border-radius: 35px;
  --input-border-radius: 8px;
  --headline-font: "Montserrat";
  /* Bold */
  --headline-weight: "700";
  --subheadline-font: "Lato";
  /* Semibold */
  --subheadline-weight: "550";
  --body-font: "Open Sans";
  /* Regular */
  --body-weight: "400";
}

body {
  background-color: var(--smoke-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  margin-left: 4%;
  margin-right: 4%;
  height: 1000px;
}

nav {
  background-color: var(--white-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#nav-left {
  width: 100%;
  margin-left: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 400px;
  height: 100px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: left;
}

#menu {
  width: 100%;
  height: 100px;
  display: grid;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 600;
}

#nav-right {
  width: 100%;
  margin-right: 4%;
  display: flex;
  justify-content: flex-end;
}

#register-btn {
  border: 1px solid;
  background-color: var(--white-color);
  color: var(--black-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 600;
}

#login-btn {
  border: 1px solid var(--blue-color);
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 600;
}

#language-selector {
  border: 1px solid;
  background-color: var(--white-color);
  color: var(--black-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 600;
}

#language-selector,
#register-btn,
#login-btn {
  margin-left: 10px;
  cursor: pointer;
}

#welcoming-content {
  width: 100%;
  height: 495px;
  background-image: url("../images/welcome-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcoming-content #content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

#welcoming-content #content h1 {
  font-size: 64px;
  font-family: var(--headline-font);
  font-weight: 700;
  margin-bottom: 35px;
}

#welcoming-content #content p {
  font-size: var(--subheadline-size);
  font-family: var(--subheadline-font);
  font-weight: 550;
  margin-bottom: 71px;
}

#welcoming-content #content #search {
  border: none;
  border-radius: var(--input-border-radius);
  font-family: var(--subheadline-font);
  font-size: 18px;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: 10px;
  width: 65%;
  padding: 18px;
  padding-left: 6%;
}

main {
  margin-left: 4%;
  margin-right: 4%;
}

#simulation-content {
  display: flex;
  border: 2px solid;
  justify-content: flex-start;
  align-items: center;
  height: 206px;
  background: rgb(0, 155, 244, 25%);
  border-radius: var(--input-border-radius);
  color: var(--blue-color);
  margin-top: 53px;
}

#simulation-content #content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2%;
  width: 100%;
  height: 161px;
}

#simulation-content #content #content-image {
  width: 4.3%;
  height: 80px;
  background-image: url("../images/simu-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 2%;
}

#simulation-content #content #content-details {
  width: 80%;
  height: 100%;
}

#simulation-content #content #content-details h2 {
  font-size: var(--headline-size);
  font-family: var(--headline-font);
  font-weight: var(--headline-weight);
  margin: 0;
}

#simulation-content #content #content-details p {
  font-size: 18px;
  font-family: var(--subheadline-font);
  font-weight: var(--subheadline-weight);
  color: var(--dark-color);
}

#simulation-content #content #content-details #simulation-btn {
  border: none;
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}

#themes-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#themes-section h1 {
  font-size: var(--headline-size);
  font-family: var(--headline-font);
  font-weight: var(--headline-weight);
  color: var(--dark-color);
}

.theme-categorie-h2 {
  font-size: var(--subheadline-size);
  font-family: var(--subheadline-font);
  font-weight: var(--subheadline-weight);
  color: var(--blue-color);
  margin: 0;
}

.theme-categorie-h2::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-right: 0.5%;
}

#sta::before {
  background-image: url("../images/Stay.svg");
}

#edu::before {
  background-image: url("../images/Edu.svg");
}

#mon::before {
  background-image: url("../images/Euro.svg");
  width: 17px;
  height: 30px;
}

.all-themes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 45px;
  gap: 50px;
}

.theme-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 0 auto;
  max-width: 228px;
  width: 100%;
  height: 228px;
  background-color: var(--white-color);
  border-radius: 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-top: 0;
}

footer {
  background-color: var(--dark-color);
  color: var(--white-color);
}

footer h2 {
  font-size: var(--subheadline-size);
  font-family: var(--subheadline-font);
  font-weight: 700;
  color: var(--white-color);
}

footer p {
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--white-color);
}

#footer-content {
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#about-us {
  width: 21%;
}

#themes ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

#themes a {
  color: var(--white-color);
  font-size: var(--body-size);
  font-family: var(--body-font);
  font-weight: 400;
}

#contact-us {
  width: 15%;
}

#contact-us p:first-of-type::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 30px;
  background-image: url("../images/tele.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-right: 2%;
}

#contact-us p:last-of-type::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 30px;
  background-image: url("../images/mail.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-right: 2%;
}

#newsletter {
  width: 21%;
}

#email {
  border: none;
  font-family: var(--subheadline-font);
  font-size: var(--body-size);
  background: #282827;
  color: var(--white-color);
  width: 100%;
  padding: 10px;
  padding-left: 5%;
  border-radius: 35px 0 0 35px;
}

#newsletter-form {
  display: flex;
  flex-direction: row;
  background: #282827;
  border-radius: var(--button-border-radius);
  padding: 1px;
}

#newsletter-form input {
  flex-grow: 2;
  border: none;
  outline: none;
}

#newsletter-form button {
  color: var(--dark-color);
  border: 1px solid var(--yellow-color);
  background: var(--yellow-color);
  border-radius: var(--button-border-radius);
  font-size: var(--body-size);
  width: 100px;
}
#copyright {
  text-align: center;
  padding: 20px;
}
